/* Mobile-first styles */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.nav {
    width: 100%;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    display: inline;
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #333;
}

.search-container {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

.search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 44px;
}

.search-button {
    padding: 10px;
    margin-left: 5px;
    background-color: #5cb895;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.viewAllButton {
  background-color: #ff4d4d;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.viewAllButton:hover {
  background-color: #ff6666;
}

.categories-div {
    padding: 0 20px;
    border:  1px  solid #838383;
  }
  
  .categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .categories-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .arrow-button {
    background-color: #5cb895;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
  }
  
  .image-container {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    scroll-snap-type: x mandatory; /* Optional: for smoother scrolling */
  }
  
  .category-image {
    width: 100px; /* Set your desired width */
    height: 100px; /* Set your desired height */
    margin-right: 10px; /* Spacing between images */
    scroll-snap-align: start; /* Optional: aligns the images when scrolling */
  }
  
  /* Hide scrollbars for a cleaner look */
  .categories-options::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  
  .categories-options {
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
  }
  

/* Responsive Styles */
@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    .nav ul {
        display: flex;
        justify-content: center;
    }

    .nav li {
        margin: 0 20px;
    }

    .search-container {
        width: auto;
        margin-top: 0;

    }

    .search-input {
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 44px;
    }
}